.hero {
  &_hidden {
    @media(min-width: 879px) {
      animation: heroHide 1s;
    }
    
  }
  display: flex;
  flex-direction: column;
  background: url("../img/hero.png");
  background-position: center center;
  background-size: cover;

  &__content {
    margin: auto;
    text-align: center;
  }

  &__headline {
    margin: 184px 0 78px;
    font-size: 48px;
    font-weight: lighter;
    @media (max-width: 1301px) {
      margin-top: 78px;
    }
  }
  &__strategies {
    list-style-type: none;
    margin: 0 auto 275px;
    @media (max-width: 879px) {
      display: none;
    }
  }

  &__strategy {
    display: inline-flex;
    position: relative;
    width: 365px;
    height: 365px;
    margin-right: 53px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    &:hover {
      border: 8px solid transparent;
      box-shadow: inset 0px 0px 0px 1px #00b0a2;
    }
  }

  &__strategy-info {
    margin: auto;

    &_animated {
      animation: strategiesMoveUp 0.8s;
    }
  }

  &__strategy-headline {
    margin-top: 40px;
    font-weight: lighter;
    font-size: 28px;
  }

  &__strategy-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
