.main {
    @media(max-width: 879px){
        display: none
      }
    &_visible{
      animation: mainAppear 0.2s 0.6s forwards;
    }
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -20;
    display: flex;
    background: url(../img/main.png);
    background-position: center center;
    background-size: cover;
    &__content {
      position: relative;
      margin: auto;
    }
    &__strategies {
      list-style: none;
      @media(max-width: 1301px) {
        text-align: center;
      }
    }
    &__strategy {
      display: inline-flex;
      width: 365px;
      height: 115px;
      margin-right: 53px;
      cursor: pointer;
  
      &_active, &:hover{
        border-bottom: 3px solid #00b0a2;
        color: #00b0a2;
      }
    }
  
    &__strategy-headline {
      margin: auto;
      font-size: 28px;
    }
  
    &__strategy-info {
      margin: 80px 0 0 40px;
      opacity: 0;
      &_visible {
        animation: mainContentAppear 0.6s 0.8s forwards
      }
    }
    &__strategy-description {
      max-width: 680px;
      font-size: 18px;
      font-weight: lighter;
      line-height: 24px;
    }
    &__strategy-steps-header {
      margin: 36px 0;
      font-size: 24px;
      font-weight: lighter;
    }
    &__strategy-steps {
      padding: 0;
      list-style: none;
      counter-reset: li;
    }
    &__strategy-step {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      max-width: 680px;
      counter-increment: li;
      &:before {
        content: counter(li);
        color: #00b0a2;
        align-self: end;
        width: 1em;
        font-size: 32px;
      }
    }
    &__strategy-step-text {
      margin-left: 8px;
    }
    &__strategy-step {
      font-size: 18px;
      font-weight: lighter;
    }
  
    &__strategy-btn {
      margin: 43px 0 178px;
      &:hover {
      }
      &:active {
      }
      &:focus {
      }
    }
  }