.hero {
  display: flex;
  flex-direction: column;
  background: url("../img/hero.png");
  background-position: center center;
  background-size: cover; }
  .hero_hidden {
    -webkit-animation: heroHide 1s;
            animation: heroHide 1s; }
  .hero__content {
    margin: auto;
    text-align: center; }
  .hero__headline {
    margin: 184px 0 78px;
    font-size: 48px;
    font-weight: lighter; }
    @media (max-width: 1301px) {
      .hero__headline {
        margin-top: 78px; } }
  .hero__strategies {
    list-style-type: none;
    margin: 0 auto 275px; }
    @media (max-width: 879px) {
      .hero__strategies {
        display: none; } }
  .hero__strategy {
    display: inline-flex;
    position: relative;
    width: 365px;
    height: 365px;
    margin-right: 53px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    text-align: center;
    cursor: pointer; }
    .hero__strategy:hover {
      border: 8px solid transparent;
      box-shadow: inset 0px 0px 0px 1px #00b0a2; }
  .hero__strategy-info {
    margin: auto; }
    .hero__strategy-info_animated {
      -webkit-animation: strategiesMoveUp 0.8s;
              animation: strategiesMoveUp 0.8s; }
  .hero__strategy-headline {
    margin-top: 40px;
    font-weight: lighter;
    font-size: 28px; }
    @media (max-width: 879px) {
      .hero__strategy-headline {
        margin: 0 0 0 19px;
        font-size: 19px; } }
  .hero__strategy-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0); }
  @media (max-width: 879px) {
    .hero__strategy-icon_trading, .hero__strategy-icon_investing {
      width: 35px;
      height: 28px; } }
  @media (max-width: 879px) {
    .hero__strategy-icon_attracting {
      width: 29px;
      height: 36px; } }
  .hero__strategy-arrow {
    display: none; }
    @media (max-width: 879px) {
      .hero__strategy-arrow {
        display: inline-block;
        margin-right: 15px; } }

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -20;
  display: flex;
  background: url(../img/main.png);
  background-position: center center;
  background-size: cover; }
  @media (max-width: 879px) {
    .main {
      display: none; } }
  .main_visible {
    -webkit-animation: mainAppear 0.2s 0.6s forwards;
            animation: mainAppear 0.2s 0.6s forwards; }
  .main__content {
    position: relative;
    margin: auto; }
  .main__strategies {
    list-style: none; }
    @media (max-width: 1301px) {
      .main__strategies {
        text-align: center; } }
  .main__strategy {
    display: inline-flex;
    width: 365px;
    height: 115px;
    margin-right: 53px;
    cursor: pointer; }
    .main__strategy_active, .main__strategy:hover {
      border-bottom: 3px solid #00b0a2;
      color: #00b0a2; }
  .main__strategy-headline {
    margin: auto;
    font-size: 28px; }
  .main__strategy-info {
    margin: 80px 0 0 40px;
    opacity: 0; }
    .main__strategy-info_visible {
      -webkit-animation: mainContentAppear 0.6s 0.8s forwards;
              animation: mainContentAppear 0.6s 0.8s forwards; }
  .main__strategy-description {
    max-width: 680px;
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px; }
  .main__strategy-steps-header {
    margin: 36px 0;
    font-size: 24px;
    font-weight: lighter; }
  .main__strategy-steps {
    padding: 0;
    list-style: none;
    counter-reset: li; }
  .main__strategy-step {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-width: 680px;
    counter-increment: li; }
    .main__strategy-step:before {
      content: counter(li);
      color: #00b0a2;
      align-self: end;
      width: 1em;
      font-size: 32px; }
  .main__strategy-step-text {
    margin-left: 8px; }
  .main__strategy-step {
    font-size: 18px;
    font-weight: lighter; }
  .main__strategy-btn {
    margin: 43px 0 178px; }

.accordion {
  display: none; }
  @media (max-width: 879px) {
    .accordion {
      display: flex; } }
  .accordion__strategy {
    width: 340px;
    height: 68px;
    background: rgba(255, 255, 255, 0.6); }
  .accordion__strategy-info {
    display: inline-flex;
    margin-left: 20px;
    align-items: center; }
  .accordion__strategies {
    list-style-type: none; }
  .accordion__strategy-checkbox {
    display: none; }

@-webkit-keyframes strategiesMoveUp {
  to {
    transform: translateY(-530px);
    opacity: 0.1; } }

@keyframes strategiesMoveUp {
  to {
    transform: translateY(-530px);
    opacity: 0.1; } }

@-webkit-keyframes mainAppear {
  from {
    opacity: 0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1;
    z-index: 10; } }

@keyframes mainAppear {
  from {
    opacity: 0; }
  50% {
    opacity: 0.4; }
  to {
    opacity: 1;
    z-index: 10; } }

@-webkit-keyframes heroHide {
  50% {
    opacity: 0.5; }
  to {
    z-index: 0;
    opacity: 0; } }

@keyframes heroHide {
  50% {
    opacity: 0.5; }
  to {
    z-index: 0;
    opacity: 0; } }

@-webkit-keyframes mainContentAppear {
  to {
    opacity: 1; } }

@keyframes mainContentAppear {
  to {
    opacity: 1; } }

* {
  margin: 0;
  font-family: "PF DinText Pro";
  box-sizing: border-box; }

html {
  overflow: hidden; }

.btn {
  padding: 15px 28px 13px;
  font-size: 18px;
  background-color: #00b0a2;
  color: white;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer; }

.play-button {
  position: absolute;
  top: 357px;
  right: 247px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #00b0a2;
  display: flex;
  z-index: 10; }
  @media (max-width: 1158px) {
    .play-button {
      right: 172px; } }
  @media (max-width: 1044px) {
    .play-button {
      right: 114px; } }
  @media (max-width: 921px) {
    .play-button {
      right: 55px; } }
  .play-button__icon {
    margin: auto auto auto 36px; }
